:root {
    --primary-color: #e88d67ff;
    --secondary-color: #bb999cff;
    --accent1-color: #9999c3ff;
    --accent2-color: #7b8cdeff;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Inter';
}

.hero {
    position: relative;
}
.hero article h2 {
    color: white;
    font-family: var(--font-primary);
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: var(--primary-color);
    box-shadow: 0 0 30px gray;
}

.hero article {
    position: absolute;
    background-color: var(--accent2-color);
    top: 65px;
    left: 10px;
    right: 10px;
    font-family: var(--font-secondary);
}

.hero article p {
    color: black;
    padding: 10px 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    padding: 5px 5px;
    box-shadow: 0 0 30px gray;
}

h2 {
    font-size: 1.5em;
    color: var(--primary-color);
    font-family: var(--font-primary);
}
p {
    font-size: 1.2em;
    color: black;
    font-family: var(--font-secondary);
}
.sociallinks a {
    text-decoration: none;
}