:root {
    --primary-color: #e88d67ff;
    --secondary-color: #bb999cff;
    --accent1-color: #9999c3ff;
    --accent2-color: #7b8cdeff;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Inter';
}

header {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: var(--accent2-color);
}

header img {
    padding: 10px;
}

header nav {
    grid-column: 2/6;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    padding: 5px;
    box-shadow: 0 0 30px gray;
    flex-wrap: wrap;
    font-family: var(--font-primary);
}

header nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px;

}

.hero {
    position: relative;
}
.hero article h1 {
    color: rgb(0, 0, 0);
    font-family: var(--font-primary);
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: var(--primary-color);
    box-shadow: 0 0 30px gray;
}

.hero article {
    position: absolute;
    background-color: var(--accent2-color);
    top: 65px;
    left: 10px;
    right: 10px;
    font-family: var(--font-secondary);
}

.hero article p {
    color: black;
    padding: 10px 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    padding: 5px 5px;
    box-shadow: 0 0 30px gray;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    
}

.contact p{
    grid-column: 2/4;
    text-align: left;
    font-family: var(--font-primary);
    font-size: 1.5em;
    color: black;
}

section img {
    width: 100%;
    height: auto;
}

section h2 {
    grid-column: 3;
}

section p {
    grid-column: 1/3;
    padding: 10px;
}

section p.two{
    grid-column: 4/6;
}

section figure{
    grid-row: 2/3;
    margin: 10px;
    text-align: center;
    font-family: var(--font-primary);
}

section figure img{
    width: 100%;
    height: auto;
}

.contact h1 {
    font-size: 1.5em;
    color: black;
    font-family: var(--font-primary);
    text-align: center;
    grid-column: 3;
}

h2 {
    font-size: 1.5em;
    color: black;
    font-family: var(--font-primary);
    text-align: center;
}

.map iframe {
    width: 100%;
    height: auto;
    border: none;
    margin: 0 auto;
}

p {
    font-size: 1.2em;
    color: black;
    font-family: var(--font-secondary);
}

footer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

footer p {
    grid-column: 2/3;
    text-align: center;
}

.sociallinks a {
    text-decoration: none;
}

nav.sociallinks {
    grid-column: 3/4;
    justify-self: end;
    padding-right: 40px;
}

form {
    width: 650px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: grid;
    font-family: var(--font-primary);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
    justify-self: end;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding : 1rem;
}

fieldset legend {
    font-weight: bold;
    color: navy;
}

label, input, button, select, textarea {
    font-family: var(--font-secondary);
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: var(--accent2-color);
    color: black;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
 
button:hover {
    background-color: var(--primary-color);
}


