* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Inter', Arial, sans-serif;
}

body {
    font-family: var(--font-primary);
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    color: navy;
    text-align: center;
    
}

form {
    width: 650px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: grid;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding : 1rem;
}

fieldset legend {
    font-weight: bold;
    color: navy;
}

label, input, button, select, textarea {
    font-family: var(--font-secondary);
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
 
button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
  }

