*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --maincolor: darkblue;
}

nav {
    background-color: var(--maincolor);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--maincolor);
}

main img {
    float:right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { padding: 0;}

main {
    max-width: 840px;
}

aside h2{
    color:#ddd;
    position:absolute;
    top:70px;
    left:63px;
}

aside {
    position: relative;
    width: 20em;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
